doctype html
html(lang="zh-cn")
	head
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="renderer", content="webkit")
		meta(name="author", content="WlliTeam")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title 创次方 | 融资详情
		link(href="./stylesheets/animate.css", rel="stylesheet")
		link(href="./stylesheets/detail.css", rel="stylesheet")
		link(href="./stylesheets/dialog.css", rel="stylesheet")
	body
		div.dialog
			div.card
				div.close-btn(onclick="cancel()")
		div.banner
			div.container.horizontal-center
				div.left
					div.back
					a(href="/") 返回首页
				div.right
					-if(!user)
						a.signup(onclick="register()") 注册
						span |
						a.login(onclick="login()") 登录
					-else
						a.signup #{user.username}
						span |
						a.login(href="/logout") 退出
				div.logo.horizontal-center
		div.container.horizontal-center
			div.title
				div.title-img
				ul
					li 成立：2015年
					li 地点：广州
					li 网址：www.chuangcifang.com
					li 属性：互联网媒体和融资平台
		div.cover
			div.cover-img
		div.container.horizontal-center
			div.right-block
				div.progress.horizontal-center
					div#circle(data-percent="#{percent/100}", data-thickness="8").circle
					div.info
						p.status 融资中
						p.percent #{percent}%
				div.leader
					p.money #{leader.get("money")}
					div.avator
					p.title #{leader.get("userId").get("username")}
					p.info #{leader.get("identify")}
					div.jiyu
						p.main 领投人寄语
						p.text #{leader.get("sendword")}
				div.tidus
				div.qa
					p 常见问题
					ul
						li 
							a(href="#") 创次方股权融资是啥？
						li 
							a(href="#") 如何参与投资？
						li 
							a(href="#") 领投机制是啥？
						li 
							a(href="#") 分阶段认投是啥？
						li 
							a(href="#") 如何信息披露？
						li 
							a(href="#") 投资有风险吗？
			div.left-block
				div.progress
					div.progress-1.progress-block
						p.title 融资目标
						p.body
							span.icon-1
							| ￥#{amount}
					div.progress-2.progress-block
						p.title 已筹集
						p.body
							span.icon-1
							| ￥#{collection}
					div.progress-3.progress-block
						p.title 剩余时间
						p.body
							span.icon-1
							| #{time}
				div.description
				div.points
				div.fenxi
				div.value
				div.team
					div.team-img
					div.faces
						div.line1
							div.face.face-1(data-info="1")
							div.face.face-2(data-info="2")
							div.face.face-3(data-info="3")
							div.info-1.info
								p.position 项目运营
								p.name 沈堉河
								p.english River
								p.degree 香港中文大学高级环境规划技术硕士
								hr
								p.text 规划城市不如整合互联网创业，规划你我未来。
							div.info-2.info
								p.position 人脉管理
								p.name 陈冰淳
								p.english Beture
								p.degree 台湾大学新闻研究所硕士
								hr
								p.text 对生活热忱，如同对互联网热忱。
							div.info-3.info
								p.position 人物采写
								p.name 许哲霓
								p.english Journey
								p.degree 香港浸会大学中国文学语言文化硕士
								hr
								p.text 互联网人是个神奇物种，分享他们的故事澎湃而有趣。
						div.line2
							div.face.face-4(data-info="4")
							div.face.face-5(data-info="5")
							div.info-4.info
								p.position 资讯整合
								p.name 林臻
								p.english Lizzy
								p.degree 香港中文大学跨文化研究硕士
								hr
								p.text 创业跟前，最好的项目和投资需要最对的资讯支撑。
							div.info-5.info
								p.position 用户运营
								p.name 鲁涵
								p.english Vicky
								p.degree 香港中文大学社会政策专业硕士
								hr
								p.text 互联网让你我在“创次方”发生关系。
				div.jingli
				div.lingtou
				div.gentou
					div.gentou-img
					div.faces
						-each val,key in projectFollow
							-var can=true
							-if(val.get("isVerify"))
								-each val1,key1 in projectFollow
									-if(key1>key)
										-if(val1.get("userId").get("username")==val.get("userId").get("username"))
											-can=false
											-break
								-if(can)
									div.member
										img.avator(src=val.get("userId").get("avatorUrl"))
										p #{val.get("userId").get("username")}
				div.time
				div.iwant(onclick='toTouZi()')
					div.money
					p 我要投资
		div.container.horizontal-center
			div.contact.horizontal-center
	script(src='./javascripts/jquery.min.js')
	script(src='./javascripts/circle-progress.js')
	script(src='./javascripts/dialog.js')
	script(type='text/javascript').
		$(document).ready(function(){
			$('.dialog').hide();
			$.ajax({
					type:"GET",
					url:"/getGradient",
					dataType:"json",
					success:function(data){
						var gradients = data.gradients;
						var n = ["一","二","三","四","五","六","七","八","九","十"];
						for(var i = 0 ; i<gradients.length;i++){
							var HTML = "<div class=tidu tidu-"+i+" id=tidu-"+i+">"+
											"<div class=title>第"+n[i]+"梯度 "+gradients[i].start+"-"+gradients[i].end+"</div>"+
											"<p class=money>"+
												"<span class=count>"+gradients[i].money+"</span>"+
												"<span class=black>/</span>"+
													gradients[i].number+"位"+
											"</p>"+
											"<p class=existed> 已有"+
												"<span class=black>"+gradients[i].updatedAt+"</span>"+
												"位投资人"+
											"</p>"+
											"<hr>"+
											"<p class=text>接受超募，超过目标人数后将作为候补。到达最高募集人数上限"+gradients[i].times+"倍的人后停止募集";
							if(gradients[i].updatedAt>=2*gradients[i].number){
								HTML += "<div class='takein_btn disabled'>我要投资</div>";
							}else{
								if(!gradients[i].createdAt){
									HTML += "<div class='takein_btn disabled'>我要投资</div>";
								}else{
									HTML += "<div class=takein_btn onclick='checkFillInfo("+gradients[i].money+",\""+gradients[i].objectId+"\")'>我要投资</div>";
								}
							}
							HTML += "</div>";
							$(".tidus").append(HTML);
						}
					}
				})
			
			var msgLogin = "#{msgLogin}";
			if(msgLogin != ""){
				if(msgLogin=="error"){
					var email = "#{emailLogin}";
					login();
					$(".dialog [name='email']").val(email);
					$(".dialog [name='password']").addClass("wrong");
					$(".link").before("<p class='wrong-msg'>邮箱或密码错误</p>");
				}
			}
		})
		$('#circle').circleProgress({
			value: #{percent/100},
			size: 180,
			fill: {
				color: "#58bddb"
			},
			startAngle: -Math.PI / 2,
			lineCap: "round"
		});
		$('.face').hover(function () {
			var index = $(this).data('info');
			var className = ".info-" + index;
			console.log(className);
			if ($(className).hasClass('animated')) {
				$(className).removeClass('animated fadeInRight');
			} else {
				$(className).addClass('animated fadeInRight');
			}
		});
		var isFillInfo = #{isFillInfo};
		function checkFillInfo(money,gradientId){
			$.ajax({
					type:"GET",
					url:"/isFollow?projectId="+"#{projectId}",
					dataType:"json",
					success:function(data){
						if(data.isFollow){
							alert("您已提交过认投申请，一个跟投人只能认投一个投资梯度哦，如有疑问，请发送邮件至 chuangcifang@126.com 联系我们！");
						}else{
							certain(money,parseInt("#{amount}")*10000,"#{projectId}",gradientId);
						}
					}
				});
		};
		function toTouZi(){
			$('html,body').animate({scrollTop:$("#tidu-0").offset().top}, 800);
		}
