doctype html
html(lang="zh-cn")
	head
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="renderer", content="webkit")
		meta(name="author", content="WlliTeam")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title 创次方 | 产品介绍
		link(href="./stylesheets/product.css", rel="stylesheet")
		link(href="./stylesheets/dialog.css", rel="stylesheet")
	body
		div.dialog
			div.card
				div.close-btn(onclick="cancel()")
		div.banner
			div.container.horizontal-center
				div.logo.horizontal-center
				div.left
					div.back
					a(href="/") 返回首页
				div.right
					-if(!user)
						a.signup(onclick="register()") 注册
						a.login(onclick="login()") 登录
					-else
						a.signup #{user.username}
						a.login(href="/logout") 退出
		div.news
			div.container.horizontal-center
				div.icon
				div.text
					p.title 立足互联网创业前沿，只给你投喂有价值的内容。
					p.info 新鲜的资讯+火辣的观点+纯粹的干货，我们在互联网前线给你送来最有价值的情报，我们相信机遇就藏在飞速向前的科技中。当然还少不了互联网创业融资最新行情，及时播报创业+项目融资进展和结果，可视化关键数据，化繁为简，让你随时把握项目最新动态。
					div
						div.block
							img(src="./images/product_1.png")
							p 搜索最新咨询
						div.block
							img(src="./images/product_2.png")
							p 可视化项目数据
				div.image
		div.interview
			div.container.horizontal-center
				div.icon
				div.image
				div.wrapper
					div.text
						p.title 来自金中的互联网创业明星独家专访，
						p.title 让你360°无死角了解大神级校友。
						p.info 那些曾经和你擦肩而过的金中校友，如今已经是明星创业公司的CEO了。还记得学霸张翼吗？你知道低调的陈第吗？红遍微博微信的伟大的安妮就是金中妹子啊！创业+为你独家挖掘那些年从金中走出来的互联网创业明星，以独特视角切入深度采访，我们只想告诉你：咱金中的校友圈有多牛你造吗？
					div.dashen
						div.zhangyi.block
							div.avator
						div.chendi.block
							div.avator
						div.anni.block
							div.avator
		div.financing
			div.container.horizontal-center
				div.icon
				div.text
					p.title 助你投资好项目，让互联网红利有你的一份。
					p.info 在创次方平台进行的股权融资是指，公司出让一定比例的股份，面向投资者，投资者通过创次方平台出资入股公司，获得未来收益。这种通过互联网渠道而进行融资亦被称为“私募股权的互联网化”。
					p.info 创次方通过金山中学校友圈的半熟人关系，挖掘金中人的优质项目资源，以“互联网股权融资”的形式为项目方和用户方提供一个第三方融资平台，为用户提供互联网创业的深度参与机会，亦为优质互联网创业项目提供资金、人脉、传播的多维助力。 
				div.image
				div.block
					div.block-1
						img(src="./images/product_3.png")
						p.title 半熟人圈子运作
						p.info 金中校友项目，只能是超级靠谱啦
					div.block-2
						img(src="./images/product_4.png")
						p.title “领投 + 跟投” 模式
						p.info 不会投资不会管理那不重要，让领投人带你飞
					div.block-3
						img(src="./images/product_5.png")
						p.title “梯度认投” 模式
						p.info 分额度分时段认投，更多选择总会适合你
		div.container.horizontal-center
			div.contact.horizontal-center
	script(src='./javascripts/jquery.min.js')
	script(src='./javascripts/dialog.js')
	script(type='text/javascript').
		$(document).ready(function () {
			$('.dialog').hide();
			var msgLogin = "#{msgLogin}";
			if(msgLogin != ""){
				if(msgLogin=="error"){
					var email = "#{emailLogin}";
					login();
					$(".dialog [name='email']").val(email);
					$(".dialog [name='password']").addClass("wrong");
					$(".link").before("<p class='wrong-msg'>邮箱或密码错误</p>");
				}
			}
		});